<h1>Listado de alumnos</h1> <p>Fecha: {{fecha | date: 'short'}}</p>
<section>
  <article>
    <h2>Clase A</h2>
    <ul [ngClass]="esClaseA ? 'claseA' : 'claseB'">
      <li *ngFor="let alumno of ['Valentin', 'Vicente', 'Alejandra', 'Sergio', 'Pirata']">
        {{alumno | uppercase }}
      </li>
    </ul>
  </article>
  <article>
    <h2>Clase B</h2>
    <ul [ngClass]="esClaseB ? 'claseB' : 'claseA'">
      <li *ngFor="let alumno of ['Agustina', 'Sue', 'Victorio', 'Cinthia', 'Fredo']">
        {{alumno | uppercase}}
      </li>
    </ul>
  </article>
  <div>
  </div>
</section>